
body {
    /* background-color: #55a7e6; */
    background-color: #0e182f;
    text-align: center;
    color: #f1f9f9;
}

.navbar {
    background-color: #4e687a;
}

.navbar-brand {
    color: #f1f9f9 !important;
    text-align: center;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
}

.card {
    background-color: #ffffff20;
}

.form-control, .btn-primary {
    background-color: #f1f9f9;
    color: #0c0b5d;
}

.btn-primary:hover {
    background-color: #0c0b5d;
    color: #f1f9f9;
}